In [7]:
 # Dependencies
import requests
import json
import pandas as pd

In [11]:
base_url = "https://data.police.uk/api/stops-street?"
coordinates = "lat=55.9533&lng=-3.1883&date="
dates = ["2021-01","2021-02","2021-03","2021-04","2021-05"]

In [12]:
jan_may = []
for date in dates:
    query_url = base_url + coordinates + date
    response = requests.get(query_url).json()
    jan_may.append(response)

In [14]:
Edinburgh_data = pd.DataFrame.from_dict(jan_may[0])
Edinburgh_data = Edinburgh_data.append(pd.DataFrame.from_dict(jan_may[1]))
Edinburgh_data = Edinburgh_data.append(pd.DataFrame.from_dict(jan_may[2]))
Edinburgh_data = Edinburgh_data.append(pd.DataFrame.from_dict(jan_may[3]))
Edinburgh_data = Edinburgh_data.append(pd.DataFrame.from_dict(jan_may[4]))
Edinburgh_data.head()

,age_range,outcome,involved_person,self_defined_ethnicity,gender,legislation,outcome_linked_to_object_of_search,datetime,removal_of_more_than_outer_clothing,outcome_object,location,operation,officer_defined_ethnicity,type,operation_name,object_of_search
0,25-34,Summons / charged by post,True,White - English/Welsh/Scottish/Northern Irish/...,Male,Misuse of Drugs Act 1971 (section 23),True,2021-01-20T19:37:00+00:00,False,"{'id': 'bu-summons', 'name': 'Summons / charge...","{'latitude': '55.952496', 'street': {'id': 148...",None,White,Person search,None,Controlled drugs
1,over 34,Summons / charged by post,True,White - English/Welsh/Scottish/Northern Irish/...,Male,Misuse of Drugs Act 1971 (section 23),True,2021-01-20T20:11:00+00:00,False,"{'id': 'bu-summons', 'name': 'Summons / charge...","{'latitude': '55.952496', 'street': {'id': 148...",None,White,Person search,None,Controlled drugs
0,18-24,A no further action disposal,True,White - English/Welsh/Scottish/Northern Irish/...,Male,Misuse of Drugs Act 1971 (section 23),False,2021-02-03T11:51:00+00:00,False,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '55.952496', 'street': {'id': 148...",None,White,Person search,None,Controlled drugs
1,25-34,Summons / charged by post,True,White - English/Welsh/Scottish/Northern Irish/...,Male,Misuse of Drugs Act 1971 (section 23),True,2021-02-03T09:16:00+00:00,False,"{'id': 'bu-summons', 'name': 'Summons / charge...","{'latitude': '55.952496', 'street': {'id': 148...",None,White,Person search,None,Controlled drugs
2,over 34,Summons / charged by post,True,White - English/Welsh/Scottish/Northern Irish/...,Male,Misuse of Drugs Act 1971 (section 23),True,2021-02-03T14:29:00+00:00,False,"{'id': 'bu-summons', 'name': 'Summons / charge...","{'latitude': '55.952496', 'street': {'id': 148...",None,White,Person search,None,Controlled drugs

In [21]:
Edinburgh_stops = Edinburgh_data[["age_range", "self_defined_ethnicity", "gender", "officer_defined_ethnicity", "object_of_search"]]
Edinburgh_stops.head()

,age_range,self_defined_ethnicity,gender,officer_defined_ethnicity,object_of_search
0,25-34,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs
1,over 34,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs
0,18-24,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs
1,25-34,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs
2,over 34,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs

In [20]:
gender = Edinburgh_stops["gender"]
gender.groupby(gender).count()

gender
Female     3
Male      18
Name: gender, dtype: int64

In [22]:
ethnicity = Edinburgh_stops["self_defined_ethnicity"]
ethnicity.groupby(ethnicity).count()

self_defined_ethnicity
Asian/Asian British - Bangladeshi                         1
White - Any other White background                        4
White - English/Welsh/Scottish/Northern Irish/British    16
Name: self_defined_ethnicity, dtype: int64

In [23]:
crime_type = Edinburgh_stops["object_of_search"]
crime_type.groupby(crime_type).count()

object_of_search
Anything to threaten or harm anyone     3
Controlled drugs                       16
Stolen goods                            2
Name: object_of_search, dtype: int64

In [24]:
age_range = Edinburgh_stops["age_range"]
age_range.groupby(age_range).count()

age_range
10-17      2
18-24      3
25-34      9
over 34    6
Name: age_range, dtype: int64

In [25]:
self_defined_ethnicity = Edinburgh_stops["self_defined_ethnicity"]
self_defined_ethnicity.groupby(self_defined_ethnicity).count()

self_defined_ethnicity
Asian/Asian British - Bangladeshi                         1
White - Any other White background                        4
White - English/Welsh/Scottish/Northern Irish/British    16
Name: self_defined_ethnicity, dtype: int64