In [1]:
 # Dependencies
import requests
import json
import pandas as pd

In [2]:
base_url = "https://data.police.uk/api/stops-street?"
coordinates = "lat=53.4808&lng=-2.2426&date="
dates = ["2021-01","2021-02","2021-03","2021-04","2021-05"]

In [3]:
jan_may = []
for date in dates:
    query_url = base_url + coordinates + date
    response = requests.get(query_url).json()
    jan_may.append(response)

In [4]:
manchester_data = pd.DataFrame.from_dict(jan_may[0])
manchester_data = manchester_data.append(pd.DataFrame.from_dict(jan_may[1]))
manchester_data = manchester_data.append(pd.DataFrame.from_dict(jan_may[2]))
manchester_data = manchester_data.append(pd.DataFrame.from_dict(jan_may[3]))
manchester_data = manchester_data.append(pd.DataFrame.from_dict(jan_may[4]))
manchester_data.head()

,age_range,outcome,involved_person,self_defined_ethnicity,gender,legislation,outcome_linked_to_object_of_search,datetime,removal_of_more_than_outer_clothing,outcome_object,location,operation,officer_defined_ethnicity,type,operation_name,object_of_search
0,10-17,A no further action disposal,True,Other ethnic group - Not stated,Male,Misuse of Drugs Act 1971 (section 23),True,2021-01-02T19:50:00+00:00,False,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '53.488565', 'street': {'id': 148...",None,Asian,Person search,None,Controlled drugs
1,over 34,Arrest,True,Other ethnic group - Not stated,Male,Police and Criminal Evidence Act 1984 (section 1),True,2021-01-03T17:28:00+00:00,False,"{'id': 'bu-arrest', 'name': 'Arrest'}","{'latitude': '53.477512', 'street': {'id': 148...",None,White,Person search,None,Stolen goods
2,10-17,A no further action disposal,True,White - English/Welsh/Scottish/Northern Irish/...,None,Misuse of Drugs Act 1971 (section 23),False,2021-01-07T16:55:00+00:00,False,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '53.477512', 'street': {'id': 148...",None,White,Person search,None,Controlled drugs
3,10-17,A no further action disposal,True,White - English/Welsh/Scottish/Northern Irish/...,None,Misuse of Drugs Act 1971 (section 23),False,2021-01-07T17:00:00+00:00,False,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '53.477512', 'street': {'id': 148...",None,White,Person search,None,Controlled drugs
4,10-17,Community resolution,True,White - English/Welsh/Scottish/Northern Irish/...,Male,Misuse of Drugs Act 1971 (section 23),True,2021-01-07T19:30:00+00:00,False,"{'id': 'bu-community-resolution', 'name': 'Com...","{'latitude': '53.477512', 'street': {'id': 148...",None,White,Person search,None,Controlled drugs

In [5]:
manchester_stops = manchester_data[["age_range", "self_defined_ethnicity", "gender", "officer_defined_ethnicity", "object_of_search", "location"]]
manchester_stops.head()

,age_range,self_defined_ethnicity,gender,officer_defined_ethnicity,object_of_search,location
0,10-17,Other ethnic group - Not stated,Male,Asian,Controlled drugs,"{'latitude': '53.488565', 'street': {'id': 148..."
1,over 34,Other ethnic group - Not stated,Male,White,Stolen goods,"{'latitude': '53.477512', 'street': {'id': 148..."
2,10-17,White - English/Welsh/Scottish/Northern Irish/...,None,White,Controlled drugs,"{'latitude': '53.477512', 'street': {'id': 148..."
3,10-17,White - English/Welsh/Scottish/Northern Irish/...,None,White,Controlled drugs,"{'latitude': '53.477512', 'street': {'id': 148..."
4,10-17,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs,"{'latitude': '53.477512', 'street': {'id': 148..."

In [6]:
manchester_stops['country'] = 'manchester'

<ipython-input-6-806db5a671d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manchester_stops['country'] = 'manchester'

In [7]:
manchester_stops.set_index('country', inplace=True)
manchester_stops.head()

,age_range,self_defined_ethnicity,gender,officer_defined_ethnicity,object_of_search,location
country,,,,,,
manchester,10-17,Other ethnic group - Not stated,Male,Asian,Controlled drugs,"{'latitude': '53.488565', 'street': {'id': 148..."
manchester,over 34,Other ethnic group - Not stated,Male,White,Stolen goods,"{'latitude': '53.477512', 'street': {'id': 148..."
manchester,10-17,White - English/Welsh/Scottish/Northern Irish/...,None,White,Controlled drugs,"{'latitude': '53.477512', 'street': {'id': 148..."
manchester,10-17,White - English/Welsh/Scottish/Northern Irish/...,None,White,Controlled drugs,"{'latitude': '53.477512', 'street': {'id': 148..."
manchester,10-17,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs,"{'latitude': '53.477512', 'street': {'id': 148..."

In [8]:
man_selected = manchester_stops.head(100)
man_selected.to_csv("../data/selected_locations/Manchester_selected.csv")

In [9]:
gender = manchester_stops["gender"]
gender.groupby(gender).count()

gender
Female     16
Male      163
Name: gender, dtype: int64

In [10]:
ethnicity = manchester_stops["self_defined_ethnicity"]
ethnicity.groupby(ethnicity).count()

self_defined_ethnicity
Asian/Asian British - Any other Asian background                              8
Asian/Asian British - Indian                                                  2
Asian/Asian British - Pakistani                                               9
Black/African/Caribbean/Black British - African                               6
Black/African/Caribbean/Black British - Caribbean                             2
Mixed/Multiple ethnic groups - Any other Mixed/Multiple ethnic background     2
Mixed/Multiple ethnic groups - White and Asian                                1
Mixed/Multiple ethnic groups - White and Black African                        1
Mixed/Multiple ethnic groups - White and Black Caribbean                      1
Other ethnic group - Any other ethnic group                                   2
Other ethnic group - Not stated                                              60
White - Any other White background                                            5
White - English/Welsh/Scottish/Northern Irish/British                        91
White - Irish                                                                 3
Name: self_defined_ethnicity, dtype: int64

In [11]:
crime_type = manchester_stops["object_of_search"]
crime_type.groupby(crime_type).count()

object_of_search
Anything to threaten or harm anyone     17
Article for use in theft                 5
Articles for use in criminal damage      1
Controlled drugs                       138
Evidence of offences under the Act       8
Offensive weapons                        8
Stolen goods                            16
Name: object_of_search, dtype: int64

In [12]:
age_range = manchester_stops["age_range"]
age_range.groupby(age_range).count()

age_range
10-17      47
18-24      48
25-34      49
over 34    39
Name: age_range, dtype: int64

In [13]:
self_defined_ethnicity = manchester_data["self_defined_ethnicity"]
self_defined_ethnicity.groupby(self_defined_ethnicity).count()

self_defined_ethnicity
Asian/Asian British - Any other Asian background                              8
Asian/Asian British - Indian                                                  2
Asian/Asian British - Pakistani                                               9
Black/African/Caribbean/Black British - African                               6
Black/African/Caribbean/Black British - Caribbean                             2
Mixed/Multiple ethnic groups - Any other Mixed/Multiple ethnic background     2
Mixed/Multiple ethnic groups - White and Asian                                1
Mixed/Multiple ethnic groups - White and Black African                        1
Mixed/Multiple ethnic groups - White and Black Caribbean                      1
Other ethnic group - Any other ethnic group                                   2
Other ethnic group - Not stated                                              60
White - Any other White background                                            5
White - English/Welsh/Scottish/Northern Irish/British                        91
White - Irish                                                                 3
Name: self_defined_ethnicity, dtype: int64

In [14]:
manchester_stops.to_csv("../data/manchester.csv")