In [1]:
import requests
import json
import pandas as pd

In [2]:
base_url = "https://data.police.uk/api/stops-street?"
coordinates = "lat=51.3148&lng=-0.5600&date=" 
dates = ["2021-01","2021-02","2021-03","2021-04","2021-05"]

In [3]:
jan_may = []
for date in dates:
    query_url = base_url + coordinates + date
    response = requests.get(query_url).json()
    jan_may.append(response)

In [4]:
surrey_data = pd.DataFrame.from_dict(jan_may[0])
surrey_data = surrey_data.append(pd.DataFrame.from_dict(jan_may[1]))
surrey_data = surrey_data.append(pd.DataFrame.from_dict(jan_may[2]))
surrey_data = surrey_data.append(pd.DataFrame.from_dict(jan_may[3]))
surrey_data = surrey_data.append(pd.DataFrame.from_dict(jan_may[4]))
surrey_data.head()

,age_range,outcome,involved_person,self_defined_ethnicity,gender,legislation,outcome_linked_to_object_of_search,datetime,removal_of_more_than_outer_clothing,outcome_object,location,operation,officer_defined_ethnicity,type,operation_name,object_of_search
0,18-24,A no further action disposal,True,White - English/Welsh/Scottish/Northern Irish/...,Male,Misuse of Drugs Act 1971 (section 23),False,2021-01-13T14:45:00+00:00,False,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '51.318600', 'street': {'id': 148...",None,White,Person search,None,Controlled drugs
1,over 34,A no further action disposal,True,Asian/Asian British - Pakistani,Male,None,False,2021-01-15T13:46:00+00:00,None,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '51.324810', 'street': {'id': 115...",False,Asian,Person search,None,Controlled drugs
2,18-24,A no further action disposal,True,White - English/Welsh/Scottish/Northern Irish/...,Male,None,True,2021-01-30T22:13:00+00:00,None,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '51.319841', 'street': {'id': 115...",False,White,Person search,None,Controlled drugs
3,10-17,A no further action disposal,True,White - English/Welsh/Scottish/Northern Irish/...,Male,None,False,2021-01-26T01:45:00+00:00,None,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '51.320786', 'street': {'id': 115...",False,White,Person search,None,Controlled drugs
4,25-34,A no further action disposal,True,White - English/Welsh/Scottish/Northern Irish/...,Male,None,False,2021-01-12T15:40:00+00:00,None,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '51.321290', 'street': {'id': 115...",False,White,Person search,None,Controlled drugs

In [5]:
surrey_stops = surrey_data[["age_range", "self_defined_ethnicity", "gender", "officer_defined_ethnicity", "object_of_search", "location"]]
surrey_stops.head()

,age_range,self_defined_ethnicity,gender,officer_defined_ethnicity,object_of_search,location
0,18-24,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs,"{'latitude': '51.318600', 'street': {'id': 148..."
1,over 34,Asian/Asian British - Pakistani,Male,Asian,Controlled drugs,"{'latitude': '51.324810', 'street': {'id': 115..."
2,18-24,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs,"{'latitude': '51.319841', 'street': {'id': 115..."
3,10-17,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs,"{'latitude': '51.320786', 'street': {'id': 115..."
4,25-34,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs,"{'latitude': '51.321290', 'street': {'id': 115..."

In [6]:
surrey_stops['country'] = 'surrey'

<ipython-input-6-cf3cce349716>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surrey_stops['country'] = 'surrey'

In [7]:
surrey_stops.set_index('country', inplace=True)
surrey_stops.head()

,age_range,self_defined_ethnicity,gender,officer_defined_ethnicity,object_of_search,location
country,,,,,,
surrey,18-24,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs,"{'latitude': '51.318600', 'street': {'id': 148..."
surrey,over 34,Asian/Asian British - Pakistani,Male,Asian,Controlled drugs,"{'latitude': '51.324810', 'street': {'id': 115..."
surrey,18-24,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs,"{'latitude': '51.319841', 'street': {'id': 115..."
surrey,10-17,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs,"{'latitude': '51.320786', 'street': {'id': 115..."
surrey,25-34,White - English/Welsh/Scottish/Northern Irish/...,Male,White,Controlled drugs,"{'latitude': '51.321290', 'street': {'id': 115..."

In [8]:
sur_selected = surrey_stops.head(100)
sur_selected.to_csv("../data/selected_locations/Surrey_selected.csv")

In [9]:
age_range = surrey_stops["age_range"]
age_range.groupby(age_range).count()

age_range
10-17       28
18-24       57
25-34       14
over 34     23
under 10     1
Name: age_range, dtype: int64

In [10]:
self_defined_ethnicity = surrey_stops["self_defined_ethnicity"]
self_defined_ethnicity.groupby(self_defined_ethnicity).count()

self_defined_ethnicity
Asian/Asian British - Any other Asian background                                         6
Asian/Asian British - Pakistani                                                          3
Black/African/Caribbean/Black British - African                                          1
Black/African/Caribbean/Black British - Any other Black/African/Caribbean background     2
Black/African/Caribbean/Black British - Caribbean                                        1
Mixed/Multiple ethnic groups - White and Asian                                           1
Mixed/Multiple ethnic groups - White and Black Caribbean                                 1
Other ethnic group - Any other ethnic group                                              4
Other ethnic group - Not stated                                                         21
White - Any other White background                                                      10
White - English/Welsh/Scottish/Northern Irish/British                                   75
White - Irish                                                                            2
Name: self_defined_ethnicity, dtype: int64

In [11]:
gender = surrey_stops["gender"]
gender.groupby(gender).count()

gender
Female     14
Male      109
Name: gender, dtype: int64

In [12]:
officer_defined_ethnicity = surrey_stops["officer_defined_ethnicity"]
officer_defined_ethnicity.groupby(officer_defined_ethnicity).count()

officer_defined_ethnicity
Asian    14
Black    10
White    99
Name: officer_defined_ethnicity, dtype: int64

In [13]:
object_of_search = surrey_stops["object_of_search"]
object_of_search.groupby(object_of_search).count()

object_of_search
Anything to threaten or harm anyone    18
Article for use in theft                7
Articles for use in criminal damage     4
Controlled drugs                       76
Evidence of offences under the Act      1
Firearms                                2
Offensive weapons                      11
Stolen goods                            8
Name: object_of_search, dtype: int64

In [14]:
surrey_stops.to_csv("../data/surrey.csv")